<!DOCTYPE html>
<html lang="en">
    <head>  
            <title>MyLogbook</title>
            <link rel="stylesheet" href="../static/kontaktskjema.css">
            <script type="text/javascript" src="https://livejs.com/live.js"></script>
            <meta charset="UTF-8">

    </head>
    <body>

       <div>
            <nav class="navbar">
                <ul>
                    <li id="header">My Logbook</li>
                    <a href="">Logg inn</a>
                </ul>
            </nav>

            <article>
                <h3>Velkommen, </h3>
            </article>
       </div>

        <footer>
            <p>Footer</p>
        </footer>

    </body>
</html>